/* @since version 4.2.1 */
button.tshirtecommerce-mydesign-accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    text-transform: uppercase;
    font-weight: 700;
}
button.tshirtecommerce-mydesign-accordion.active, button.tshirtecommerce-mydesign-accordion:hover {
    background-color: #ccc;
}
div.tshirtecommerce-mydesign {
    padding: 15px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background: rgb(248, 249, 250);
    position: relative;
}
div.tshirtecommerce-mydesign.active {
	display: block!important;
}
.tshirtecommerce-mydesign-content {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;
}

#tshirtecommercemydesign {
	width: 100%;
	position: relative;
}

.mbtn {
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 1rem 1.2rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
    cursor: pointer;
}

.mbtn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.mbtn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.mydesign-item {
	padding:  5px;
	position: relative;
	overflow: hidden;
}
.mydesign-item img:hover {
	border: 1px solid #007bff;
}
.mydesign-item img {
	background-color: rgb(255, 255, 255);
    max-width: 100%;
    height: auto;
    padding: 0.25rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 768px) {
	.mydesign-item {
		float: left;
		width: 12.5%;
	}
}
@media screen and (max-width: 768px) {
	.mydesign-item {
		float: left;
		width: 25%;
	}
}
.iconclear {
	position: absolute;
	top: 8px;
	right: 8px;
	color: #D50000;
	cursor: pointer;
	background: #eee;
	-webkit-border-bottom-left-radius: 90px;
	-moz-border-radius-bottomleft: 90px;
	border-bottom-left-radius: 90px;
}
.iconclear:hover > i {
	font-weight: 600;
}

#mydesign_continue {
	text-align: center;
	width: 100%;
	clear: both;
}
.tshirtecommerce-design-loadmore {
	color: #111;
    background-color: #f8f9fa;
    border-color: #ccc;
    min-width: 20%;
    text-align: center;
}

.tshirtecommerce-design-loadmore:hover {
    color: #111;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

@media screen and (max-width: 640px) {
	.tshirtecommerce-design-loadmore {
		min-width: 100%;
	}
}

.tshirtecommerce-loading {
	text-align: 0 auto;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('tshirtecommerce-loading.svg');
	background-position: center;
	background-repeat: no-repeat;
	z-index: 999999999;
	background-color: #eee;
	opacity: 0.8;
	transition: opacity .15s linear;
	display: none;
}